{  
"extends": ["airbnb-base"],
   "env": {
   	 "node": true,
    	"es6": true,
    	"browser": true
  	},
  "rules": {
    "no-underscore-dangle": ["off", { "allow": ["_id"] }],
    "no-unused-vars": ["error", { "argsIgnorePattern": "set" }],
    "no-shadow": ["off", {"allow": ["article"]}],
   "no-useless-concat":["off"]
  }
}

