.popup {
    display: flex;
    position: fixed;
    visibility: hidden;
    top: 50%;
    left: 50%;
    opacity: 0;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    z-index: 5;
    transition: visibility 0.5s linear, opacity 0.5s linear;
  }
  
  .popup_enabled {
    opacity: 1;
    visibility: visible;
    transition: visibility 0.5s linear, opacity 0.5s linear;
  }
  
  .popup__close {
    display: flex;
    margin-bottom: 3px;
    justify-content: flex-end;
    align-self: flex-end;
    background: url(../../images/Close_Icon.svg);
    background-color: rgb(0, 0, 0, 0);
    transition: visibility 0.5s linear, opacity 0.5s linear;
    max-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    border: 0;
    cursor: pointer;
    z-index: 5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    padding: 0;
    top: -40px;
    right: -40px;
  }
  
  .popup__close:hover {
    opacity: 0.6;
  }
  
  .popup__tooltip {
    height: 330px;
    width: 430px;
    background-color: white;
    color: white;
    box-shadow: 0px 0px 25px rgb(0 0 0 / 15%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    padding: 34px 36px;
    border: none;
    box-sizing: border-box;
    position: fixed;
  }
  
  .popup__tooltip-close {
    display: flex;
    margin-bottom: 3px;
    justify-content: flex-end;
    align-self: flex-end;
    background: url(../../images/Close_Icon.svg);
    background-color: rgb(0, 0, 0, 0);
    transition: visibility 0.5s linear, opacity 0.5s linear;
    max-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    border: 0;
    cursor: pointer;
    z-index: 5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    position: absolute;
    padding: 0;
    top: -40px;
    right: -40px;
  }
  
  .popup__tooltip-close:hover {
    opacity: 0.6;
  }
  
  .popup__icon {
    margin: 60px 155px 32px;
  }
  
  .popup__message {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    margin: 0;
    padding: 0 36px 60px;
  }

  .popup__redirect{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 28px;
    gap: 4px;
    font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;

  }

  .popup__redirect-link{
    color: #2F71E5;
  text-decoration: none;
  }

  .form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 358px;
  }
  
  .form__fieldset {
     display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%; 
  }
  
  .form__fieldset:last-child {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 36.51px;
  }

  .form__input-label{
    font-family: 'Inter', "Arial", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #2F71E5;

  }
  
  .form__input {
    margin: 0;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    padding-top: 9px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }

  .form__input:last-child{
    margin-bottom: 0;
  }

  .form__input-error{
    color: #FF0000;
    font-size: 12px;
    line-height: 1.2;
    font-family: 'Inter', sans-serif;
    display: block;
    margin-bottom: 13px;
    visibility: hidden;
  }
  
  .form__input_type_error {
    border: 1px solid #ff0000;
  }
  
  .form__input-error_active {
    margin: 0;
    padding: 0;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #ff0000;
    visibility: visible;
  }

  .form__button-wrapper{
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .form__button {
    border: 0;
    background-color:#2F71E5;
    color: #ffffff;
    width: 358px;
    height: 50px;
    border-radius: 100px;
    opacity: 100%;
    transition: opacity 0.3s ease-in-out;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
    /*margin-bottom: 32px;*/
    padding: 13.66px 125px 18.49px;
    padding-bottom: 16px;
  }
  
  .form__button_inactive {
    color: #e6e8eb;
    opacity: 0.2;
    border: 1px solid #000000;
    cursor: default;
  }
  
  .form__button:hover {
    opacity: 0.8;
  }
  
  .form__button_inactive:hover {
    opacity: 0.2;
  }
  
  @media screen and (max-width: 768px) {
    .form {
      /* max-width: 100vw; */
      width: 100%;
    }
  
    .form__fieldset {
      padding-top: 76px;
    }
  
    .form__fieldset:last-child {
      padding-top: 46px;
      padding-bottom: 25px;
    }
  
    .form__button {
      padding: 14px 100px;
      width: 258px;
      height: 46px;
      font-size: 14px;
      line-height: 17px;
    }
  
    .form__input {
      padding-bottom: 9px;
      /* max-width: 288px; */
    }
  }
  
  
  @media screen and (max-width: 1020px) {
    .popup {
      max-width: 1200px;
    }
  
    .popup__container {
      width: 282px;
    }
  
    .popup__close {
      margin-bottom: 13.5px;
      width: 26px;
      height: 26px;
    }
  
    .popup__form {
      width: 100%;
      padding: 0 36px;
      /*max-height: 322px;*/
    }
  
    .popup__title {
      font-size: 18px;
      line-height: 22px;
      padding-left: 22px;
      padding-top: 25px;
      margin: 0 auto;
    }
  }


  @media screen and (max-width: 615px) {
    .popup{
      display: none;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 50%);
      z-index: 1;
      position: fixed;
      width: 100vw;
      height: 100%;
    }
    
    .popup_enabled{
      display: block;
      opacity: 1;
    }

    .form{
      width: 288px;
      padding: 0 16px;
    }

    .form__input{
      max-width: 288px;
    }

    
    .form__button-wrapper{
      justify-content: flex-start;
    }

    .form__button{
      height: 64px;
      width: 288px;
      margin: 0;
      padding: 20px 79px;
    }
    
  }
  