.nothing{
    max-width: 1440px;
    background-color: #F5F6F7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nothing__image{
    margin-top: 86px;
    width: 82.5px;
    height: 82.5px;
    margin-bottom: 31.5px;
}

.nothing__text{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 80px;
}

.nothing__title{
    margin: 0;
    font-family: 'Roboto Slab', 'Arial', serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    color: #1A1B22;

}

.nothing__subtitle{
    margin: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: #B6BCBF;
}